<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {#
    {{ current_path() }}
    {{ base_url() }} 
    {{ siteUrl('/about/me') }}
    <a href="{{ urlFor('home', {"name": person.name, "age": person.age}) }}">Hello {{ name }}</a>
    #}
{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | SKEL</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
    #notifications {
        top: -.3rem;
        z-index: 1031;
    }
    </style>
    {% block css %}
    {% endblock %}
</head>

<body class="mt-5 pt-4">

    <div id="notifications" class="container position-fixed d-flex justify-content-center">
        <div class="position-absolute">
            {% block messages %}
            {% endblock %}
        </div>
    </div>

    <!-- Navigation -->
    <header class="navbar navbar-dark bg-dark shadow-sm fixed-top">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="20" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" aria-hidden="true" class="mr-2" viewBox="0 0 11.614411 23.572561" focusable="false">
                <path d="M 3.2186516,2.327e-5 C 2.4793439,1.1327424 2.0191774,0.86536983 2.1875055,1.3517714 2.6981213,2.8272684 1.5851814,4.895532 1.3700256,4.9258316 1.4545456,5.3113644 1.5673747,5.6009066 1.7214513,5.8534828 1.7457203,6.0395685 1.90084,7.2261087 1.9324978,7.3026204 2.0039448,7.475261 2.0229328,7.6468802 1.9902328,7.825467 1.8604606,8.53419 0.5040675,10.844926 0.2178539,10.844926 0.1523699,10.844926 0,11.058344 0,11.15006 c 0,0.01951 0.070584,0.02174 0.1568545,0.005 0.08627,-0.01673 0.2601931,0.0037 0.3865547,0.04535 0.1721359,0.05668 0.2116974,0.09758 0.1575356,0.162848 -0.091449,0.110196 -0.02413,0.182225 0.1190031,0.127307 0.075265,-0.02889 0.092402,-0.01486 0.055282,0.04521 -0.040953,0.06627 0.035637,0.08309 0.3197005,0.07039 0.4589378,-0.02054 0.547902,-0.08395 0.547902,-0.390913 0,-0.132031 0.03595,-0.308658 0.079925,-0.392408 0.1654722,-0.315147 0.9993858,-1.6258361 1.1834909,-1.8602113 0.068389,-0.087067 0.1596594,-0.2510897 0.2415472,-0.4229088 -0.00907,0.127605 0.00848,0.1329426 0.1157374,-0.099812 0.6983519,-1.5819295 1.0446257,-3.3009621 1.8347377,-4.8450493 1.340821,0.058723 0.875324,2.0864749 2.099566,2.4307023 0.221893,0.4432331 0.196226,0.9231167 0.106615,1.4103357 0.04117,-0.02021 0.10501,-0.034846 0.200426,-0.039772 0.41961,0.5258942 -0.09534,0.3645388 -0.229561,0.1889889 -0.09883,0.4783289 -0.241349,0.960897 -0.257614,1.4202743 -0.157409,0.8681384 -0.295609,1.8142112 -0.258021,2.7316142 0.06666,0.126136 0.04454,0.134766 0.005,0.104573 0.05444,0.972697 0.314412,1.908399 0.969996,2.678515 0.652431,0.751804 1.302034,1.55529 1.487533,2.563191 0.415151,1.4766 0.301172,3.405924 -1.061492,4.35735 -0.985881,0.542531 -2.27693,0.622536 -3.285645,0.118595 -0.9659877,-0.853087 -0.9003699,-2.599585 0.08794,-3.403013 2.269315,-1.476082 1.969798,2.188064 0.385535,0.399971 -0.440599,-0.497288 1.291069,3.399426 2.246141,-0.284646 0.341025,-1.315451 -2.370495,-2.173357 -3.447811,-1.034807 -1.3537654,1.430713 -1.7834528,4.039337 -0.2408641,5.393521 1.5811271,1.388007 4.3307491,1.235654 5.7288781,-0.410931 C 11.436089,20.441264 11.85853,17.76024 11.30875,15.424327 10.939755,12.060036 11.63152,8.7018289 11.614086,5.341116 11.34643,3.2877421 9.6286596,1.6889466 7.6903806,1.1494532 6.9629326,0.89284003 6.2158386,0.7080552 5.4651896,0.53613429 4.7145396,0.36421351 3.9603308,0.20516145 3.2186561,0 Z M 6.8647096,11.841609 c -0.0019,-0.03478 -0.0037,-0.06967 -0.005,-0.104574 -2.1e-4,-4.65e-4 -3.43e-4,-4.65e-4 -5.57e-4,-9.29e-4 -0.175617,-0.104656 -0.06071,0.05499 0.0057,0.105649 z m 0.510596,-4.2564617 c 0.01021,-0.049808 0.02,-0.099529 0.02913,-0.1492263 -0.07543,0.037078 -0.07158,0.093719 -0.02913,0.1492263 z M 5.6990546,1.1057646 c 0.01996,9.291e-4 0.04454,0.00468 0.07448,0.011149 0.376352,0.5029125 -0.373831,-0.028153 -0.07448,-0.011149 z m 0.526799,0.048064 0.172514,0.023181 c 0.523193,0.3882098 -0.164011,0.2807765 -0.172514,-0.023181 z M 3.2793801,1.4976295 c 0.054277,-0.00623 0.1400957,0.042137 0.2672796,0.1816352 C 3.4007345,2.5763559 3.0441247,1.524575 3.2793801,1.4976295 Z m 4.8998065,0.2819837 c 0.295681,-0.011013 -0.03881,0.2709126 -0.265509,0.1237716 l 0.09804,-0.098988 c 0.07012,-0.01561 0.125238,-0.023229 0.167474,-0.024763 z m 0.980343,0.5811286 c 0.02023,-4.647e-4 0.04519,2.647e-4 0.07556,0.00325 0.386101,0.3831588 -0.37896,0.00656 -0.07556,-0.00325 z M 3.7105932,2.9756309 c 0.04352,0.00233 0.099523,0.013422 0.1702008,0.036469 C 4.0314032,3.7815491 3.2899025,2.9543709 3.7105932,2.9756309 Z M 4.2323546,3.180007 c 0.541916,0.3231311 -0.4813709,0.04418 0,0 z m 3.380549,0.039489 c 0.614984,0.4742667 -0.663952,0.1137009 0,0 z m -0.72028,0.3406691 c 0.617723,0.20629 -0.527101,0.1676281 0,0 z m 1.369892,0.010346 c 0.689101,0.8475163 -0.918963,0.08982 0,0 z m 0.482273,0.7051658 c 0.887304,0.9939457 -1.10126,0.028293 0,0 z m 2.2294634,0.4679764 c 0.182265,-0.010673 -0.399773,0.4883574 -0.189804,0.067401 0.09605,-0.04604 0.156053,-0.065418 0.189804,-0.067401 z M 2.4309743,4.8990257 C 3.5574247,5.5293203 1.9324277,7.3025868 1.864009,5.0856969 2.0393471,4.9865845 2.2387814,4.9494605 2.4309743,4.8990257 Z m 5.2727463,0.3481575 c 0.445631,0.1565528 -0.383776,0.047034 0,0 z M 3.2705292,5.2698091 C 4.3247666,5.5428123 2.509413,6.6218963 3.0080159,5.5407636 3.0855653,5.4412418 3.1788104,5.3557834 3.2705292,5.2698091 Z m 5.6455484,0.00693 c 0.04758,0.00279 0.117301,0.028012 0.215267,0.084828 0.206544,0.974234 -0.548336,-0.1044918 -0.215267,-0.084828 z m 0.149095,0.9171654 c 0.05101,0.00184 0.119888,0.01561 0.210364,0.044924 0.474865,1.034414 -0.703528,-0.062724 -0.210364,-0.044921 z m 1.9303214,0.05147 c 0.01198,0.00231 0.03922,0.036237 0.08933,0.1247191 0.01676,0.259252 -0.132466,-0.1333646 -0.08933,-0.1247191 z m -0.708435,0.1029373 c 0.577066,0.3327943 -0.5329484,0.1275165 0,0 z M 7.7517846,6.5766536 c 0.01858,4.645e-4 0.03893,0.00139 0.06127,0.00325 0.53749,0.6017836 -0.637309,-0.016447 -0.06127,-0.00325 z M 2.506678,6.7215172 c 0.053581,0.047484 0.1055631,0.094003 0.1636629,0.1443293 0.1600713,0.0052 0.2797304,0.058542 0.3702178,0.1420155 C 2.9990397,7.02324 2.9558857,7.037223 2.9091625,7.048698 2.8031052,7.0748002 2.6573911,7.1710495 2.5853783,7.2625955 2.3619256,7.5466619 2.3784788,7.4499972 2.6703358,6.8658304 2.6255538,6.8526804 2.5693751,6.7982347 2.5066725,6.7215005 Z m 6.4512006,0.6741144 c 0.07254,-2.638e-4 0.177678,0.023045 0.323648,0.079924 0.03165,0.018398 0.06327,0.036881 0.09491,0.05528 0.161425,1.0292457 -0.926382,-0.1332666 -0.418551,-0.1352037 z m 1.1990134,0.3248731 c 0.01636,2.653e-4 0.04506,0.0066 0.09014,0.021373 0.285732,0.2667035 -0.204629,-0.02383 -0.09014,-0.021373 z m 0.753911,0.00898 c 0.01746,9.291e-4 0.03971,0.0038 0.06741,0.00828 0.480895,0.2997608 -0.329337,-0.02564 -0.06741,-0.00828 z M 8.4837716,8.8206603 c 0.167884,-0.00461 0.339344,0.030886 0.503381,0.05514 0.723478,0.8499129 -1.229146,0.9004139 -0.799388,0.0067 0.09579,-0.042322 0.195279,-0.059289 0.296007,-0.061951 z m 1.399442,0.5152303 c 0.01753,2.587e-4 0.04812,0.00749 0.09598,0.024108 0.2985124,0.3065261 -0.2186354,-0.025878 -0.09598,-0.024108 z m 0.8336994,1.389e-4 c 0.648345,0.2083656 -0.523056,0.1833167 0,0 z M 8.1098816,10.541851 c 1.230388,0.345078 -0.788467,1.304008 -0.652473,0.36572 0.175262,-0.184967 0.419578,-0.277478 0.652473,-0.36572 z m -0.916757,0.07652 c 0.618485,0.40017 -0.649758,0.212409 0,0 z m 3.2099434,0.264692 c 0.834931,0.34964 -0.7527854,0.279752 0,0 z m -0.6180274,0.249716 c 0.01472,-9.3e-4 0.04068,0.0029 0.08155,0.0132 0.2641574,0.227934 -0.184434,-0.0067 -0.08155,-0.0132 z m -1.304943,0.825668 c 0.118295,-0.0023 0.235138,0.0176 0.352104,0.03158 0.66532,0.933827 -1.389651,0.343678 -0.352104,-0.03158 z m 1.8039664,0.188034 c 0.829396,0.284982 -0.238447,0.610504 -0.252981,0.115342 l 0.09326,-0.05732 z m -1.4257184,1.524012 c 0.162663,-0.0014 -0.08535,0.200409 -0.157265,0.08089 l 0.06071,-0.06644 c 0.04171,-0.0099 0.07329,-0.01428 0.09654,-0.01443 z m -0.610127,0.05543 c 0.126082,0.0091 0.133746,0.656802 -0.158897,0.265918 0.06158,-0.201026 0.116866,-0.268943 0.158897,-0.265918 z m 0.61462,0.350879 c 0.01035,0.0029 0.02731,0.0113 0.05282,0.02833 0.123863,0.22787 -0.125374,-0.04691 -0.05282,-0.02833 z m 0.572138,0.686514 c 0.459563,-0.02281 -0.41155,0.349965 -0.110413,0.01007 0.04322,-0.0053 0.07978,-0.0084 0.110413,-0.01007 z m 1.0762014,0.717963 c 0.152357,-0.0052 -0.368989,0.263848 -0.229564,0.05664 0.123305,-0.03967 0.194403,-0.05543 0.229564,-0.05664 z m -0.7778764,0.140513 c 0.2325401,-9.28e-4 -0.531489,0.598763 -0.244675,0.07311 0.12442,-0.05229 0.201613,-0.07296 0.244675,-0.07311 z m 0.3945884,0.907364 c 0.299472,0.0076 -0.6035584,0.577871 -0.3054034,0.06413 0.1531931,-0.04765 0.2499464,-0.06555 0.3054034,-0.06413 z m 0.674531,0.05447 c 0.39549,0.09228 -0.328937,0.0788 0,0 z m -0.544499,0.937997 c 0.277727,-0.0083 -0.4211164,0.479108 -0.184359,0.03801 0.08512,-0.0256 0.144675,-0.03679 0.184359,-0.03801 z m 0.666631,0.08455 c 0.507933,0.262675 -0.313683,0.0023 0,0 z m -0.824167,1.007981 c 0.919584,0.42542 -0.8045794,0.30558 0,0 z m 0.630416,0.269996 c 0.40721,0.04326 -0.321052,0.236064 0,0 z m -0.8810844,0.790958 c 0.2915264,0.145658 -0.261826,0.0037 0,0 z"/>
                </svg>
                <strong>SKEL</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% block content %}{% endblock %}
            </div>
            <div class="col-lg-3">
                <div class="jumbotron py-4">
                    <h4>Skel Bootstrap</h4>
                    <p>Is a mixture of smaller framework components better than one large one?</p>
                    <ul class="mb-2">
                        <li>Create base framework</li>
                        <li>Create Tests</li>
                        <li>CRUD</li>
                        <li>Speed Tests</li>
                        <li>Backups</li>
                        <li>Restore</li>
                        <li>Size limitations</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div class="container">
        <div id="footer" class="d-flex justify-content-between">
            {% block footer %}
                <small class="text-muted">{{current_path}}</small>
                <a href="https://github.com/emrysr/skel">2019 emrysr@github</a>
            {% endblock %}
        </div>
    </div>
    <!-- /.container -->


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="bawd" viewBox="0 0 34 34">
            <path d="M34 15.3c0-1.9-1.4-3.4-3.1-3.4h-9.7l1.5-7.8v-.5c0-.7-.3-1.4-.6-1.9L20.4 0 10.2 11.2c-.6.5-.9 1.4-.9 2.4v17c0 1.9 1.4 3.4 3.1 3.4h13.9c1.2 0 2.3-.8 2.8-2l4.6-12.1c.2-.3.2-.9.2-1.2v-3.4h.1c0 .2 0 0 0 0zM0 34h6.2V13.6H0V34z"></path>
            </symbol>
        </defs>
    </svg>

    {% block js %}{% endblock %}
</body>
</html>
